* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}
body {
  background-color: #f1f2f6;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background: url('./assets/images/beach4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.videoButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* height: 400px; */

  /* height: 80px; */
}
.videoContainer button {
  border: none;
  margin-right: 2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttonContainer button {
  background: none;
  color: #343a40;
  font-weight: bold;
  border: 1.5px dashed #343a40;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.9rem;
  margin: 10px;
}
.filterContainer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.editContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.editContainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 2.5px solid #343a40;
}

.editContainerInfo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.editContainerInfo label {
  font-weight: bold;
}
.editContainerInfo button {
  font-family: 'Sora', sans-serif;
  background: none;
  font-weight: bold;
  color: #343a40;
}
.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/images/beach4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.signUpContainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 300px;
  /* 
  border: 2.5px solid #343a40;
  border-radius: 7px; */
}
.signUpContainerInfo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.signUpContainerInfo label {
  font-weight: bold;
}
.signUpContainerInfo button {
  font-family: 'Sora', sans-serif;
  background: none;
  font-weight: bold;
  color: #343a40;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginContainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 2.5px solid #343a40;
  border-radius: 7px;
}

.loginContainerInfo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.loginContainerInfo label {
  font-weight: bold;
}
.loginContainerInfo button {
  font-family: 'Sora', sans-serif;
  background: none;
  font-weight: bold;
  color: #343a40;
}

.placeCreateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.placeCreateContainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 2.5px solid #343a40;
  border-radius: 7px;
}
.placeCreateContainerInfo h1 {
  font-family: 'Sora', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.placeCreateContainerInfo label {
  font-weight: bold;
}
.placeCreateContainerInfo button {
  font-family: 'Sora', sans-serif;
  background: none;
  font-weight: bold;
  color: #343a40;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered h1 {
  color: #343a40;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
  font-size: 2.2rem;
}

video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

nav button {
  font-weight: bold;
  font-size: 1.2rem;
}
.imageContainer {
  display: flex;
  flex-flow: wrap;
  height: 100vh;
  width: 100%;
  margin-top: 20px;

  justify-content: center;
}
/* .placeImg:hover {
  opacity: 0.5;
} */

.dropDown {
  display: flex;
  flex-direction: column;
}
.dropDown button {
  border: none;
  background: none;
  color: #343a40;
  font-weight: bold;
  margin-left: 10px;
}
.searchHere {
  display: none;
}
/* #videoBackground {
  position: fixed;
  z-index: -1;.videoButtonContainer {
    display: flex;
    flex-direction: row;
  }
} */
@media (min-width: 750px) {
  .buttonContainer {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .videoButtonContainer {
    display: flex;
    flex-direction: row;
  }
  .videoButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;

    /* height: 80px; */
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .searchHere {
    display: block;
  }
}
.dark {
  background: #201c2b;
  color: white;
}

@media (max-width: 800px) {
  video {
    display: none;
  }
  /* video {
    display: none;
    background: url('./assets/images/beach4.jpg');
  } */
}

/* .videoContainer {

} */
/* 
.videoContainer {
  height: 600px;

  width: 100vw;
}
.videoContainer video {
  object-fit: contain;
  height: 600px;
  height: auto;
} */
